<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/9th_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
marks=as.integer(readline("Enter Marks"))
if(marks >=0 && marks < 40 )
{print("D")}
if(marks>=40  &&  marks < 60 )
{print("C")}
if(marks>=60 && marks < 80)
{print("B")}
if(marks>=80 && marks <=100)
{print("A")}

Enter Marks22
[1] "D"

In [ ]:
marks=as.integer(readline("Enter Marks 0-100 "))
 if(marks>=80){
   print("A")
 } else if(marks>=60){
   print("B")
 } else if(marks>=40){
   print("C")
 } else {
   print("D")
 }

In [ ]:
for(i in 1:100){
  print(i)
}

In [ ]:
dice=c(1,2,3,4,5,6)  # dice= 1:6

for(ele in dice){
  ans=ele*2  
  print(ans)
}

In [15]:
#Print table of a number
num=as.integer(readline("enter a number "))
for(i in 1:10){
  prod=num*i
  print(paste(num,"X",i,"=",prod))
}

enter a number 7
[1] "7 X 1 = 7"
[1] "7 X 2 = 14"
[1] "7 X 3 = 21"
[1] "7 X 4 = 28"
[1] "7 X 5 = 35"
[1] "7 X 6 = 42"
[1] "7 X 7 = 49"
[1] "7 X 8 = 56"
[1] "7 X 9 = 63"
[1] "7 X 10 = 70"