<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/Assignment_classwork(R%20language)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a vector in R with random values ?

In [ ]:
vec= c(sample(1:10,size=10,replace=F))
vec

 [1]  5  9 10  8  4  3  7  1  6  2

Calculate sum, mean, product of vector ?

In [ ]:
sum(vec)

[1] 55

In [ ]:
mean(vec)

[1] 5.5

In [ ]:
prod(vec)

[1] 3628800

  printing structure
  
1  
1  2  
1  2  3  
1  2  3  4  
1  2  3  4  5  
1  2  3  4  5  6  
1  2  3  4  5  6  7  
1  2  3  4  5  6  7  8  
1  2  3  4  5  6  7  8  9  
1  2  3  4  5  6  7  8  9  10

In [ ]:

x= readline()
n=as.integer(x)
for(val in 1:n){
  for(p in 1:val)
      cat(p," ")
    cat("\n")  
}

7
1
1  2
1  2  3
1  2  3  4
1  2  3  4  5
1  2  3  4  5  6
1  2  3  4  5  6  7

In [ ]:
x= readline()
typeof(x)

1

[1] "character"

Find the Nth heighest value in vector ?

In [ ]:
x= readline()
x=as.integer(x)

sort(vec,TRUE)[x]

3

[1] 8

Convert matix into a single List ?

In [ ]:
mat = matrix(1:4,nrow=2,ncol=2)
typeof(mat)

[1] "integer"

In [ ]:
lst=as.list(mat)
# lst=unlist(lst)
lst

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[[4]]
[1] 4

Creating a Dataframe

In [ ]:
data_frame=as.data.frame(lst)
print(data_frame)

  X1L X2L X3L X4L
1   1   2   3   4

Adding Column Names

In [ ]:
colnames(data_frame)=c("A","B","C","D")
data_frame

  A B C D
1 1 2 3 4

In [ ]:
df1= data.frame(num=c(1:3),branch=c("IT","CSE","Electrical"))
df2=data.frame(num=c(4:6),branch=c("IT","CSE","Electrical"))
df1
df2

  num branch
1 1   IT
2 2   CSE
3 3   Electrical

  num branch
1 4   IT
2 5   CSE
3 6   Electrical

In [ ]:
df_r=rbind(df1,df2);
df_r

  num branch
1 1   IT
2 2   CSE
3 3   Electrical
4 4   IT
5 5   CSE
6 6   Electrical

Member Access within dataframe

In [ ]:
df_r['branch']=="IT"

     branch
[1,]  TRUE
[2,] FALSE
[3,] FALSE
[4,]  TRUE
[5,] FALSE
[6,] FALSE

Fancy Indexing

Reading Data

In [ ]:
data=read.csv("covidData.csv")
data

    X   Country.Region         Continent         Population TotalCases NewCases
1    0  USA                    North America      331198130 5032179      NA
2    1  Brazil                 South America      212710692 2917562      NA
3    2  India                  Asia              1381344997 2025409      NA
4    3  Russia                 Europe             145940924  871894      NA
5    4  South Africa           Africa              59381566  538184      NA
6    5  Mexico                 North America      129066160  462690    6590
7    6  Peru                   South America       33016319  455409      NA
8    7  Chile                  South America       19132514  366671      NA
9    8  Colombia               South America       50936262  357710      NA
10   9  Spain                  Europe              46756648  354530      NA
11  10  Iran                   Asia                84097623  320117      NA
12  11  UK                     Europe              67922029  308134      NA
13  12  Saudi Arabia           Asia                34865919  284226      NA
14  13  Pakistan               Asia               221295851  281863      NA
15  14  Bangladesh             Asia               164851401  249651      NA
16  15  Italy                  Europe              60452568  249204      NA
17  16  Turkey                 Asia                84428331  237265      NA
18  17  Argentina              South America       45236884  228195      NA
19  18  Germany                Europe              83811260  215210      NA
20  19  France                 Europe              65288306  195633      NA
21  20  Iraq                   Asia                40306025  140603      NA
22  21  Philippines            Asia               109722719  119460      NA
23  22  Indonesia              Asia               273808365  118753      NA
24  23  Canada                 North America       37775022  118561      NA
25  24  Qatar                  Asia                 2807805  112092      NA
26  25  Kazakhstan             Asia                18798667   95942      NA
27  26  Egypt                  Africa             102516525   95006      NA
28  27  Ecuador                South America       17668824   90537      NA
29  28  Bolivia                South America       11688459   86423    1282
30  29  Sweden                 Europe              10105596   81967      NA
⋮   ⋮   ⋮                      ⋮                 ⋮          ⋮          ⋮
179 178 Sint Maarten           North America       42924    160        NA
180 179 Bermuda                North America       62254    157        NA
181 180 Brunei                 Asia               437893    141        NA
182 181 Barbados               North America      287411    133        NA
183 182 Turks and Caicos       North America       38768    129        NA
184 183 Seychelles             Africa              98408    126        NA
185 184 Monaco                 Europe              39270    125        NA
186 185 Bhutan                 Asia               772443    105        NA
187 186 Antigua and Barbuda    North America       98010     92        NA
188 187 Liechtenstein          Europe              38139     89        NA
189 188 Belize                 North America      398312     86        NA
190 189 French Polynesia       Australia/Oceania  281072     64        NA
191 190 St. Vincent Grenadines North America      110976     56        NA
192 191 Saint Martin           North America       38729     53        NA
193 192 Macao                  Asia               650193     46        NA
194 193 Curaçao                North America      164161     31        NA
195 194 Fiji                   Australia/Oceania  897095     27        NA
196 195 Saint Lucia            North America      183712     25        NA
197 196 Timor-Leste            Asia              1320812     25        NA
198 197 Grenada                North America      112576     24        NA
199 198 New Caledonia          Australia/Oceania  285769     22        NA
200 199 Laos                   Asia              7285750     20        NA
201 200 Dominica               North America       72004     18        NA
202 201 Saint Kitts and Nevis  North America       53237     17        NA
203 202 Greenland              North America       56780     14        NA
204 203 Montserrat             North America        4992     13        NA
205 204 Caribbean Netherlands  North America       26247     13        NA
206 205 Falkland Islands       South America        3489     13        NA
207 206 Vatican City           Europe                801     12        NA
208 207 Western Sahara         Africa             598682     10        NA
    TotalDeaths NewDeaths TotalRecovered NewRecovered ActiveCases
1   162804       NA       2576668          NA         2292707
2    98644       NA       2047660          NA          771258
3    41638       NA       1377384          NA          606387
4    14606       NA        676357          NA          180931
5     9604       NA        387316          NA          141264
6    50517      819        308848        4140          103325
7    20424       NA        310337          NA          124648
8     9889       NA        340168          NA           16614
9    11939       NA        192355          NA          153416
10   28500       NA        164329          NA           19880
11   17976       NA        277463          NA           24678
12   46413       NA        261721          NA               0
13    3055       NA        247089          NA           34082
14    6035       NA        256058          NA           19770
15    3306       NA        143824          NA          102521
16   35187       NA        201323          NA           12694
17    5798       NA        220546          NA           10921
18    4251       NA         99852          NA          124092
19    9252       NA        196200          NA            9758
20   30312       NA         82460          NA           82861
21    5161       NA        101025          NA           34417
22    2150       NA         66837          NA           50473
23    5521       NA         75645          NA           37587
24    8966       NA        103106          NA            6489
25     178       NA        108831          NA            3083
26    1058       NA         68871          NA           26013
27    4951       NA         48898          NA           41157
28    5877       NA         71318          NA           13342
29    3465       80         27373         936           55585
30    5766       NA         76201          NA              NA
⋮   ⋮           ⋮         ⋮              ⋮            ⋮
179 16          NA         64            NA           80
180  9          NA        144            NA            4
181  3          NA        138            NA            0
182  7          NA        100            NA           26
183  2          NA         39            NA           88
184 NA          NA        124            NA            2
185  4          NA        105            NA           16
186 NA          NA         93            NA           12
187  3          NA         76            NA           13
188  1          NA         85            NA            3
189  2          NA         31            NA           53
190 NA          NA         62            NA            2
191 NA          NA         46            NA           10
192  3          NA         41            NA            9
193 NA          NA         46            NA            0
194  1          NA         28            NA            2
195  1          NA         18            NA            8
196 NA          NA         24            NA            1
197 NA          NA         24            NA            1
198 NA          NA         23            NA            1
199 NA          NA         22            NA            0
200 NA          NA         19            NA            1
201 NA          NA         18            NA            0
202 NA          NA         16            NA            1
203 NA          NA         14            NA            0
204  1          NA         10            NA            2
205 NA          NA          7            NA            6
206 NA          NA         13            NA            0
207 NA          NA         12            NA            0
208  1          NA          8            NA            1
    Serious.Critical TotalTests WHO.Region
1   18296            63139605   Americas
2    8318            13206188   Americas
3    8944            22149351   South-EastAsia
4    2300            29716907   Europe
5     539             3149807   Africa
6    3987             1056915   Americas
7    1426             2493429   Americas
8    1358             1760615   Americas
9    1493             1801835   Americas
10    617             7064329   Europe
11   4156             2612763   EasternMediterranean
12     73            17515234   Europe
13   1915             3635705   EasternMediterranean
14    809             2058872   EasternMediterranean
15     NA             1225124   South-EastAsia
16     42             7099713   Europe
17    580             5081802   Europe
18   1150              794544   Americas
19    236             8586648   Europe
20    384             3992206   Europe
21    517             1092741   EasternMediterranean
22    239             1669996   WesternPacific
23     NA             1633156   South-EastAsia
24   2263             4319172   Americas
25     77              511000   EasternMediterranean
26    221             2163713   Europe
27     41              135000   EasternMediterranean
28    378              258582   Americas
29     71              183583   Americas
30     38              863315   Europe
⋮   ⋮                ⋮          ⋮
179  3                1115
180 NA               26352      Americas
181 NA               41148
182 NA               12233      Americas
183  3                1252
184 NA                  NA      Africa
185  2               38209      Europe
186 NA               54589      South-EastAsia
187  1                1500      Americas
188 NA                 900      Europe
189  2                3679      Americas
190 NA                5849
191 NA                2447
192  1                1183
193 NA                4071
194 NA                1080
195 NA                6693      WesternPacific
196 NA                3895      Americas
197 NA                4238      South-EastAsia
198 NA                6252      Americas
199 NA               11099
200 NA               29374      WesternPacific
201 NA                1005      Americas
202 NA                1146      Americas
203 NA                5977      Europe
204 NA                  61
205 NA                 424
206 NA                1816
207 NA                  NA      Europe
208 NA                  NA      Africa

package Dplyer

In [ ]:
install.packages("dplyr")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(dplyr)

Check for Null values

In [ ]:
cou =data$Country.Region
cou

  [1] "USA"                    "Brazil"                 "India"
  [4] "Russia"                 "South Africa"           "Mexico"
  [7] "Peru"                   "Chile"                  "Colombia"
 [10] "Spain"                  "Iran"                   "UK"
 [13] "Saudi Arabia"           "Pakistan"               "Bangladesh"
 [16] "Italy"                  "Turkey"                 "Argentina"
 [19] "Germany"                "France"                 "Iraq"
 [22] "Philippines"            "Indonesia"              "Canada"
 [25] "Qatar"                  "Kazakhstan"             "Egypt"
 [28] "Ecuador"                "Bolivia"                "Sweden"
 [31] "Oman"                   "Israel"                 "Ukraine"
 [34] "Dominican Republic"     "Panama"                 "Belgium"
 [37] "Kuwait"                 "Belarus"                "UAE"
 [40] "Romania"                "Netherlands"            "Singapore"
 [43] "Guatemala"              "Portugal"               "Poland"
 [46] "Nigeria"                "Honduras"               "Bahrain"
 [49] "Japan"                  "Armenia"                "Ghana"
 [52] "Kyrgyzstan"             "Afghanistan"            "Switzerland"
 [55] "Algeria"                "Azerbaijan"             "Morocco"
 [58] "Uzbekistan"             "Serbia"                 "Moldova"
 [61] "Ireland"                "Kenya"                  "Venezuela"
 [64] "Nepal"                  "Austria"                "Costa Rica"
 [67] "Ethiopia"               "Australia"              "El Salvador"
 [70] "Czechia"                "Cameroon"               "Ivory Coast"
 [73] "S. Korea"               "Denmark"                "Palestine"
 [76] "Bosnia and Herzegovina" "Bulgaria"               "Madagascar"
 [79] "Sudan"                  "North Macedonia"        "Senegal"
 [82] "Norway"                 "DRC"                    "Malaysia"
 [85] "French Guiana"          "Gabon"                  "Tajikistan"
 [88] "Guinea"                 "Haiti"                  "Finland"
 [91] "Zambia"                 "Luxembourg"             "Mauritania"
 [94] "Paraguay"               "Albania"                "Lebanon"
 [97] "Croatia"                "Djibouti"               "Greece"
[100] "Libya"                  "Equatorial Guinea"      "Maldives"
[103] "CAR"                    "Hungary"                "Malawi"
[106] "Zimbabwe"               "Nicaragua"              "Hong Kong"
[109] "Congo"                  "Montenegro"             "Thailand"
[112] "Somalia"                "Mayotte"                "Eswatini"
[115] "Sri Lanka"              "Cuba"                   "Cabo Verde"
[118] "Namibia"                "Mali"                   "Slovakia"
[121] "South Sudan"            "Slovenia"               "Lithuania"
[124] "Estonia"                "Mozambique"             "Rwanda"
[127] "Suriname"               "Guinea-Bissau"          "Benin"
[130] "Iceland"                "Sierra Leone"           "Yemen"
[133] "Tunisia"                "New Zealand"            "Angola"
[136] "Uruguay"                "Latvia"                 "Jordan"
[139] "Liberia"                "Uganda"                 "Cyprus"
[142] "Georgia"                "Burkina Faso"           "Niger"
[145] "Togo"                   "Syria"                  "Jamaica"
[148] "Malta"                  "Andorra"                "Chad"
[151] "Gambia"                 "Sao Tome and Principe"  "Botswana"
[154] "Bahamas"                "Vietnam"                "Lesotho"
[157] "San Marino"             "Réunion"                "Channel Islands"
[160] "Guyana"                 "Tanzania"               "Taiwan"
[163] "Comoros"                "Burundi"                "Myanmar"
[166] "Mauritius"              "Isle of Man"            "Mongolia"
[169] "Eritrea"                "Guadeloupe"             "Martinique"
[172] "Faeroe Islands"         "Aruba"                  "Cambodia"
[175] "Trinidad and Tobago"    "Cayman Islands"         "Gibraltar"
[178] "Papua New Guinea"       "Sint Maarten"           "Bermuda"
[181] "Brunei"                 "Barbados"               "Turks and Caicos"
[184] "Seychelles"             "Monaco"                 "Bhutan"
[187] "Antigua and Barbuda"    "Liechtenstein"          "Belize"
[190] "French Polynesia"       "St. Vincent Grenadines" "Saint Martin"
[193] "Macao"                  "Curaçao"                "Fiji"
[196] "Saint Lucia"            "Timor-Leste"            "Grenada"
[199] "New Caledonia"          "Laos"                   "Dominica"
[202] "Saint Kitts and Nevis"  "Greenland"              "Montserrat"
[205] "Caribbean Netherlands"  "Falkland Islands"       "Vatican City"
[208] "Western Sahara"

In [ ]:
sum(is.na(data$NewDeaths))

[1] 205

In [ ]:
ba_data=select(data,-NewDeaths,-NewRecovered,-NewCases)

In [ ]:
ba_data

    X   Country.Region         Continent         Population TotalCases
1    0  USA                    North America      331198130 5032179
2    1  Brazil                 South America      212710692 2917562
3    2  India                  Asia              1381344997 2025409
4    3  Russia                 Europe             145940924  871894
5    4  South Africa           Africa              59381566  538184
6    5  Mexico                 North America      129066160  462690
7    6  Peru                   South America       33016319  455409
8    7  Chile                  South America       19132514  366671
9    8  Colombia               South America       50936262  357710
10   9  Spain                  Europe              46756648  354530
11  10  Iran                   Asia                84097623  320117
12  11  UK                     Europe              67922029  308134
13  12  Saudi Arabia           Asia                34865919  284226
14  13  Pakistan               Asia               221295851  281863
15  14  Bangladesh             Asia               164851401  249651
16  15  Italy                  Europe              60452568  249204
17  16  Turkey                 Asia                84428331  237265
18  17  Argentina              South America       45236884  228195
19  18  Germany                Europe              83811260  215210
20  19  France                 Europe              65288306  195633
21  20  Iraq                   Asia                40306025  140603
22  21  Philippines            Asia               109722719  119460
23  22  Indonesia              Asia               273808365  118753
24  23  Canada                 North America       37775022  118561
25  24  Qatar                  Asia                 2807805  112092
26  25  Kazakhstan             Asia                18798667   95942
27  26  Egypt                  Africa             102516525   95006
28  27  Ecuador                South America       17668824   90537
29  28  Bolivia                South America       11688459   86423
30  29  Sweden                 Europe              10105596   81967
⋮   ⋮   ⋮                      ⋮                 ⋮          ⋮
179 178 Sint Maarten           North America       42924    160
180 179 Bermuda                North America       62254    157
181 180 Brunei                 Asia               437893    141
182 181 Barbados               North America      287411    133
183 182 Turks and Caicos       North America       38768    129
184 183 Seychelles             Africa              98408    126
185 184 Monaco                 Europe              39270    125
186 185 Bhutan                 Asia               772443    105
187 186 Antigua and Barbuda    North America       98010     92
188 187 Liechtenstein          Europe              38139     89
189 188 Belize                 North America      398312     86
190 189 French Polynesia       Australia/Oceania  281072     64
191 190 St. Vincent Grenadines North America      110976     56
192 191 Saint Martin           North America       38729     53
193 192 Macao                  Asia               650193     46
194 193 Curaçao                North America      164161     31
195 194 Fiji                   Australia/Oceania  897095     27
196 195 Saint Lucia            North America      183712     25
197 196 Timor-Leste            Asia              1320812     25
198 197 Grenada                North America      112576     24
199 198 New Caledonia          Australia/Oceania  285769     22
200 199 Laos                   Asia              7285750     20
201 200 Dominica               North America       72004     18
202 201 Saint Kitts and Nevis  North America       53237     17
203 202 Greenland              North America       56780     14
204 203 Montserrat             North America        4992     13
205 204 Caribbean Netherlands  North America       26247     13
206 205 Falkland Islands       South America        3489     13
207 206 Vatican City           Europe                801     12
208 207 Western Sahara         Africa             598682     10
    TotalDeaths TotalRecovered ActiveCases Serious.Critical TotalTests
1   162804      2576668        2292707     18296            63139605
2    98644      2047660         771258      8318            13206188
3    41638      1377384         606387      8944            22149351
4    14606       676357         180931      2300            29716907
5     9604       387316         141264       539             3149807
6    50517       308848         103325      3987             1056915
7    20424       310337         124648      1426             2493429
8     9889       340168          16614      1358             1760615
9    11939       192355         153416      1493             1801835
10   28500       164329          19880       617             7064329
11   17976       277463          24678      4156             2612763
12   46413       261721              0        73            17515234
13    3055       247089          34082      1915             3635705
14    6035       256058          19770       809             2058872
15    3306       143824         102521        NA             1225124
16   35187       201323          12694        42             7099713
17    5798       220546          10921       580             5081802
18    4251        99852         124092      1150              794544
19    9252       196200           9758       236             8586648
20   30312        82460          82861       384             3992206
21    5161       101025          34417       517             1092741
22    2150        66837          50473       239             1669996
23    5521        75645          37587        NA             1633156
24    8966       103106           6489      2263             4319172
25     178       108831           3083        77              511000
26    1058        68871          26013       221             2163713
27    4951        48898          41157        41              135000
28    5877        71318          13342       378              258582
29    3465        27373          55585        71              183583
30    5766        76201             NA        38              863315
⋮   ⋮           ⋮              ⋮           ⋮                ⋮
179 16           64            80           3                1115
180  9          144             4          NA               26352
181  3          138             0          NA               41148
182  7          100            26          NA               12233
183  2           39            88           3                1252
184 NA          124             2          NA                  NA
185  4          105            16           2               38209
186 NA           93            12          NA               54589
187  3           76            13           1                1500
188  1           85             3          NA                 900
189  2           31            53           2                3679
190 NA           62             2          NA                5849
191 NA           46            10          NA                2447
192  3           41             9           1                1183
193 NA           46             0          NA                4071
194  1           28             2          NA                1080
195  1           18             8          NA                6693
196 NA           24             1          NA                3895
197 NA           24             1          NA                4238
198 NA           23             1          NA                6252
199 NA           22             0          NA               11099
200 NA           19             1          NA               29374
201 NA           18             0          NA                1005
202 NA           16             1          NA                1146
203 NA           14             0          NA                5977
204  1           10             2          NA                  61
205 NA            7             6          NA                 424
206 NA           13             0          NA                1816
207 NA           12             0          NA                  NA
208  1            8             1          NA                  NA
    WHO.Region
1   Americas
2   Americas
3   South-EastAsia
4   Europe
5   Africa
6   Americas
7   Americas
8   Americas
9   Americas
10  Europe
11  EasternMediterranean
12  Europe
13  EasternMediterranean
14  EasternMediterranean
15  South-EastAsia
16  Europe
17  Europe
18  Americas
19  Europe
20  Europe
21  EasternMediterranean
22  WesternPacific
23  South-EastAsia
24  Americas
25  EasternMediterranean
26  Europe
27  EasternMediterranean
28  Americas
29  Americas
30  Europe
⋮   ⋮
179
180 Americas
181
182 Americas
183
184 Africa
185 Europe
186 South-EastAsia
187 Americas
188 Europe
189 Americas
190
191
192
193
194
195 WesternPacific
196 Americas
197 South-EastAsia
198 Americas
199
200 WesternPacific
201 Americas
202 Americas
203 Europe
204
205
206
207 Europe
208 Africa

Fill with mean

In [ ]:
mean(ba_data$ActiveCases)

[1] NA

In [ ]:
mean(ba_data$Serious.Critical)

[1] 313.4231

In [ ]:
ba_data$Serious.Critical[is.na(ba_data$Serious.Critical)]=0

In [ ]:
ba_data$Serious

  [1] 18296  8318  8944  2300   539  3987  1426  1358  1493   617  4156    73
 [13]  1915   809     0    42   580  1150   236   384   517   239     0  2263
 [25]    77   221    41   378    71    38   177   358   158   317   161    61
 [37]   127     0     0   458    37     0     5    42    72     7    52    41
 [49]   115     0     7    24    31    23    57    66    31   228   120   362
 [61]     5    44    42     0    25   103   185    52   509    17    30     0
 [73]    18     2     0     0    47    88     0     3    33     3     0     2
 [85]    23    11     0    24     0     0     0     9     3    23    23    46
 [97]     7     0    14     0     0    12     2     8     4     0     0    39
[109]     0     0     1     2     2     5     1     4     0    24     0     2
[121]     0     2     6     0     0     0     9     5     1     0     0     0
[133]     9     0    20     2     0     3     0     0     0     0     0     0
[145]     2     0     0     0     1     0     0     0     1     1     0     0
[157]     0     3     0     2     7     0     0     0     0     0     0     1
[169]     0     0     1     1     0     1     0     0     0     0     3     0
[181]     0     0     3     0     2     0     1     0     2     0     0     1
[193]     0     0     0     0     0     0     0     0     0     0     0     0
[205]     0     0     0     0