<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/Assignment_03_%3Esoln.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Devendra is a student in IIT bombay he have to print all numbers starting  from 10 and ending at 199. Can you print them for Devendra in just one line of code in R ?

In [ ]:
print(10:199)

Tokyo is your friend, She has given you a vector of marks={4,6,9,5,12,34,32,54,34,65,78,45,23,12,43,23) which they get in Professor's test. She wants you to find out the 2nd minimum marks in the class.

In [ ]:
ar=c(4,6,9,5,12,34,32,54,34,65,78,45,23,12,43,23)
ar=sort(ar)
print(ar[2])

[1] 5

Diwakar sir has given you two vectors one vector containing number of customers and another vector containing the price of product they buy on respective indexes. You have to calculate total earning buy the shop.

Customers= {2,3,4,2,4,1,21,3,6,8}

Selling price ={23,21,54,20,12,11,73,24,12,7}

In [ ]:
c= c(2,3,4,2,4,1,21,3,6,8)

s =c(23,21,54,20,12,11,73,24,12,7)
p=s*c
print(sum(p))

[1] 2157

Calculate the sum of all odd numbers between 13 to 1000 in single line of code

In [ ]:
print(sum(seq(13,1000,2)))

[1] 249964

You are given two vector with count of customers in Dec and jan.
print a vector containing the number of decreased customers month due to lockdown.

Dec= {12,14,23,24,26,30}

jan={9,8,12,22,12,19}

In [ ]:
a=c(12,14,23,24,26,30)
b=c(9,8,12,22,12,19)
print(a-b)

[1]  3  6 11  2 14 11

If the vector earn={20,12,11,73,24,12} is the earning of specific shop from one customer. Calculate the total loss due to lockdown. Use the decreased customer vector from above question.

In [ ]:
a=c(3,  6, 11 , 2 ,14 ,11)
b=c(20,12,11,73,24,12)
print(sum(a*b))

[1] 867

find out the sum of ratio of respective indexes in these two vectors ?

first={2,3,4,5,6}

second={4,5,6,7,8}

In [ ]:
a=c(2,3,4,5,6)
b=c(4,5,6,7,8)
print(a/b)

[1] 0.5000000 0.6000000 0.6666667 0.7142857 0.7500000