<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/class_21_feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the walmart_data and walmart_features files
walmart_data <- read.csv("/content/sample_data/walmart_data.csv")

In [2]:
walmart_features <- read.csv("/content/sample_data/walmart_features.csv")

In [ ]:
walmart_data

In [ ]:
walmart_features

In [12]:
#Store the number of rows of walmart_data in a variable called n_rows
n_rows <- nrow(walmart_data)
n_rows

[1] 421570

In [10]:
#Print the first 5 rows of the dataframe walmart_data
print(head(walmart_data,5))

  Store Dept       Date Weekly_Sales IsHoliday
1     1    1 2010-02-05     24924.50     FALSE
2     1    1 2010-02-12     46039.49      TRUE
3     1    1 2010-02-19     41595.55     FALSE
4     1    1 2010-02-26     19403.54     FALSE
5     1    1 2010-03-05     21827.90     FALSE

In [ ]:
# Count the number of rows per Store and store the resulting object in R with the name rows_per_store 
rows_per_store = table(walmart_data$Store)  # creates a frequency table
rows_per_store

In [19]:
#Convert rows per store to a dataframe
rows_per_store=as.data.frame(rows_per_store)
rows_per_store

   Var1 Freq
1  1    10244
2  2    10238
3  3     9036
4  4    10272
5  5     8999
6  6    10211
7  7     9762
8  8     9895
9  9     8867
10 10   10315
11 11   10062
12 12    9705
13 13   10474
14 14   10040
15 15    9901
16 16    9443
17 17    9864
18 18    9859
19 19   10148
20 20   10214
21 21    9582
22 22    9688
23 23   10050
24 24   10228
25 25    9804
26 26    9854
27 27   10225
28 28   10113
29 29    9455
30 30    7156
31 31   10142
32 32   10202
33 33    6487
34 34   10224
35 35    9528
36 36    6222
37 37    7206
38 38    7362
39 39    9878
40 40   10017
41 41   10088
42 42    6953
43 43    6751
44 44    7169
45 45    9637

In [23]:
# Which store has the most rows ?
#  max(rows_per_store$Freq)
rows_per_store[order(rows_per_store$Freq),] #Increasing order

   Var1 Freq
36 36    6222
33 33    6487
43 43    6751
42 42    6953
30 30    7156
44 44    7169
37 37    7206
38 38    7362
9  9     8867
5  5     8999
3  3     9036
16 16    9443
29 29    9455
35 35    9528
21 21    9582
45 45    9637
22 22    9688
12 12    9705
7  7     9762
25 25    9804
26 26    9854
18 18    9859
17 17    9864
39 39    9878
8  8     9895
15 15    9901
40 40   10017
14 14   10040
23 23   10050
11 11   10062
41 41   10088
28 28   10113
31 31   10142
19 19   10148
32 32   10202
6  6    10211
20 20   10214
34 34   10224
27 27   10225
24 24   10228
2  2    10238
1  1    10244
4  4    10272
10 10   10315
13 13   10474

In [ ]:
rows_per_store[order(-rows_per_store$Freq),] #Decreasing order

In [26]:
rows_per_store[order(-rows_per_store$Freq),'Var1'] # we get a factor

 [1] 13 10 4  1  2  24 27 34 20 6  32 19 31 28 41 11 23 14 40 15 8  39 17 18 26
[26] 25 7  12 22 45 21 35 29 16 3  5  9  38 37 44 30 42 43 33 36
45 Levels: 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 ... 45

In [27]:
as.character(rows_per_store[order(-rows_per_store$Freq),'Var1'])

 [1] "13" "10" "4"  "1"  "2"  "24" "27" "34" "20" "6"  "32" "19" "31" "28" "41"
[16] "11" "23" "14" "40" "15" "8"  "39" "17" "18" "26" "25" "7"  "12" "22" "45"
[31] "21" "35" "29" "16" "3"  "5"  "9"  "38" "37" "44" "30" "42" "43" "33" "36"

In [28]:
as.character(rows_per_store[order(-rows_per_store$Freq),'Var1'][1])

[1] "13"