<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/Class_11_Feb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
melons=c(10,20,30,40)    #10+20+30+40

In [ ]:
#0+10=10--------1
#10+20=30-------2
#30+30=60-------3
#60+40=100------4
sum(melons)

[1] 100

In [ ]:
#Sum of all elements
melons=c(10,20,30,40,67)
Sum=0
for(ele in melons){
Sum<- Sum + ele
}
print(Sum)

In [ ]:
#Counting the elements using for loop
melons=c(10,20,30,40,67,435,3,54)
count=0
for(ele in melons){
count<- count+1
}
print(count)

In [ ]:
#Break statement
fruits<-c("apple","banana","cherry","Coconut","mango")

for(x in fruits){

print(x)

if(x=="cherry"){
  break
}


}
print("Out of loop")

In [ ]:
#Next statement
fruits<-c("apple","banana","cherry","Coconut","mango")
for(x in fruits){



print(x) 

}
print("Out of loop")

[1] "apple"
[1] "banana"
[1] "Coconut"
[1] "mango"
[1] "Out of loop"

While loop

In [ ]:
i<-1

while(i<=6){
  print(i)
  i=i+2
}

print("out of loop")
print(i)

[1] 1
[1] 3
[1] 5
[1] "out of loop"
[1] 7

In [ ]:
                                      #Create a variable with value 1
begin <- 1

                                            #Create the loop
while (begin <= 10){
print(paste('This is loop number',begin))
                                              #add 1 to the variable begin after each loop
begin <- begin+1                               #Updation

}
print(begin)

In [ ]:
#Break statement
i<-1
while(i<=6){
 
  print(i)
 
 if(i==4){
   break
 }
   i=i+1
}

[1] 1
[1] 2
[1] 3
[1] 4

In [ ]:
#Next statement
i<-1
while(i<=6){
  
  i=i+1
 if(i==4){
   next
 }
   print(i)
}

[1] 2
[1] 3
[1] 5
[1] 6
[1] 7