<a href="https://colab.research.google.com/github/Pepcoders/Business-Analytics-Content/blob/BA/Feb_15th.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Program to print all numbers divisible by 7 or 16 between  1-100
i<-1
while(i<=100){
  if(i%%7==0){
    print(paste(i,"is divisible by 7"))
  }
  if(i%%16==0){
    print(paste(i,"is divisible by 16"))
  }
  i<-i+1
}

In [ ]:
#Program to print all the  numbers divisible by 2,3 and 5 together between 1-1000
i<-1
while(i<=1000){
  if(i%%2==0 && i%%3==0 && i%%5==0){
    print(paste(i,"is div by 2,3,5"))
  }
  i<-i+1
}

In [ ]:
vec=1:1000
for(i in vec){
  if(i%%2==0 && i%%3==0 && i%%5==0){
    print(paste(i,"is div by 2,3,5"))
  }

}

In [5]:
#Array 
arr=array(data=c(10,14,15,20,21,22,23,25),dim=c(2,2,2))

In [ ]:
arr[1,2,1]

In [ ]:
arr[,,2]

In [22]:
eg_matrix=matrix(data=1:4,nrow=10,ncol=4)

In [ ]:
eg_matrix

In [20]:
eg_matrix2=array(data=1:4,dim=c(10,4))

In [ ]:
eg_matrix2

In [ ]:
eg_matrix==eg_matrix2 #Element-wise operations

In [ ]:
dim(eg_matrix)

In [ ]:
nrow(eg_matrix)

In [ ]:
ncol(eg_matrix)

In [38]:
#Indexing and Modifying elements
my_mat=array(1:8,c(4,4))

In [ ]:
my_mat

In [ ]:
my_mat[2:4,2]

In [ ]:
my_mat[1,]

In [ ]:
my_mat[,1]

In [41]:
my_mat[,1]<-c(100,100,100,100)  #Rewrite the first column to have 100 in each value

In [ ]:
my_mat

In [44]:
my_mat[1:2,]<-array(data=c(1000,1000,1000,1000,1000,1000,1000,1000),dim=c(2,4))

In [ ]:
my_mat

In [46]:
#Combining two arrays/matrixes
arr1=array(data=1:4,dim=c(2,2))
arr2=array(data=10:14,dim=c(2,2))

In [ ]:
arr1

In [ ]:
arr2

In [ ]:
rbind(arr1,arr2) # Rows are combined

In [ ]:
cbind(arr1,arr2) # Columns are combined

In [54]:
#Error in rbind
arr1=array(data=1:4,dim=c(2,2))
arr2=array(data=10:14,dim=c(2,3))

In [ ]:
rbind(arr1,arr2) # No. of columns should be same

In [ ]:
cbind(arr1,arr2) #No. of rows should be same

In [60]:
#error in cbind
arr1=array(data=1:4,dim=c(2,2))
arr2=array(data=10:14,dim=c(3,2))

In [ ]:
cbind(arr1,arr2)

In [70]:
#Matrix Operations
mat1<-matrix(1:4,nrow=2,ncol=2) # 2X2
mat2<-matrix(200:205,nrow=2,ncol=3) #2X3

In [ ]:
mat1*mat2 #Elementwise

In [65]:
mat1<-matrix(1:4,nrow=2,ncol=2) # 2X2
mat2<-matrix(200:205,nrow=2,ncol=2) #2X2

In [ ]:
mat1

In [ ]:
mat2

In [ ]:
mat1 + mat2 #Element wise added

In [ ]:
mat1*mat2 #Element wise multiplied

In [ ]:
mat1 %*% mat2